/codingPractice/src/main/java/com/codingPractice/app/googleCoding/*
/codingPractice/src/main/java/com/codingPractice/app/googleSample/*
/codingPractice/src/main/java/com/codingPractice/app/pocketGemsCoding/*
